div#notifications {
    position: relative;

    button#btn-notifications {
        &.has-notifications::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-color: $main-color;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        cursor: pointer;
        #notifications-bell {
            font-size: 42px;
        }
    }

    div#notifications_close_div{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    div#notifications-container {
        border-radius: 5px 0 5px 5px;
        z-index: 100;
        background-color:$light-text-color;
        width: 350px;
        min-height: 250px;
        max-height: 400px;
        position: absolute;
        top: calc(100% + 8px);
        right: 24px;
        overflow: hidden;

        > div {
            width: 100%;
            height: 100%;
            max-height: inherit;
            position: relative;

            div#indicator {
                background-color: $main-color;
                width: 22px;
                height: 22px;
                border-radius: 5px 0 5px 0;

                position: absolute;
                top: 0;
                right: 0;
            }

            div#notifications-header {
                padding: 16px;
                border-bottom: 1px solid $default-border-color;

                p#notifications-container-title {
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 0;
                }

                button {
                    margin-left: 8px;
                    display: flex;
                    align-items: center;

                    &:disabled{
                        opacity: 0.75;
                    }

                    * {
                        color: #b35353;
                    }

                    svg {
                        font-size: 20px;
                        margin-right: 4px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }

            div#_notifications {
                max-height: calc(400px - 45px);
                overflow-y: auto;
                padding-bottom: 16px;
                
                span#no-notifications-message {
                    text-align: center;
                    font-size: 16px;
                    color: $secondary-text;
                    display: block;
                    margin-top: 32px;
                }

                div.notification {
                    position: relative;
                    height: 64px;
                    padding: 0px 0 0px 12px;
                    margin: 16px 2px 16px 2px;

                    border-left: 8px solid $light-blue;
                    cursor: pointer;

                    &:hover {
                        background-color: #ededf1;
                    }

                    div.notification-header {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;

                        span.notification-user {
                            max-width: 75%;
                            line-height: 18px;
                        }
                        span.notification-date {
                            font-size: 12px;
                            line-height: 12px;
                            color: $secondary-text;
                            margin-left: 8px;
                        }
                    }

                    p {
                        max-width: 90%;
                        line-height: 14px;
                        font-size: 14px;
                        color: $secondary-text;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    button.notification-checker {
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        bottom: 12px;
                        right: 16px;
                        border: 1px solid #a3a3a3;
                        border-radius: 5px;
                        background-color:$light-text-color;

                        &.selected {
                            background-color: $light-blue;
                            border-color: $light-blue;
                        }
                    }
                }
            }
        }
    }
}
