div#new-proposal-page {
    div#__instructions {
        width: 100%;
        min-height: 150px;
        padding: 32px 24px;
        background-color: $main-color;
        border-radius: 5px;
        margin-bottom: 24px;

        > p {
            color:$light-text-color;
            margin: 0;
        }
    }

    form#formNewProposal {
        div#__proposal_title {
            width: 100%;
            margin-bottom: 32px;

            input {
                width: 100%;
                height: 60px;

                font-size: 32px;
                color: $main-color;
                font-weight: 600;

                padding-bottom: 24px;
                padding-left: 24px;
                border: none;
                border-bottom: $box-border;

                &::placeholder {
                    font-size: 32px;
                    color: $main-color !important;
                    opacity: 0.5;
                }
            }
        }        
    }
}

div.__proposals {
    margin-top: 24px;
}

div.__proposal_section {
    width: 100%;
    margin-bottom: 32px;

    div.__header {
        width: 100%;
        padding: 24px;
        background-color: $light-blue;

        border-radius: 5px 5px 0 0;

        > p {
            color:$light-text-color;
            margin: 0;
            line-height: 1;
            font-weight: 500;
        }
    }

    div.__body {
        padding: 24px;
        border-right: $box-border;
        border-bottom: $box-border;
        border-left: $box-border;

        border-radius: 0 0 5px 5px;

        textarea {
            border: none;
            padding: 0;
        }
    }
}
