$main-color: #8453b3;
$light-blue: #38b2b7;

$normal-text-color: #4c4c4c;
$light-text-color: #fff;
$darker-normal-text-color: #2a2a2a;
$secondary-text: #707070;

$text-danger: #B35353;

$default-border-color: #e5e5e5;

$box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
$box-border: 0.5px solid $default-border-color;

$hovering-time: 0.25s ease-in-out;

// Overriding bootstrap colors
$theme-colors: (
  "primary": $main-color,
  "danger": $text-danger
);
