#groups-and-representatives {
    div#table-controls {
        max-width: 900px;

        > * {
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            height: 35px;
        }

        button#btn-alternative-table-section {
            border: 1px solid #c4c4c4;
            font-size: 16px;
        }
    }

    div#content {
        form#add-representative-form {
            max-width: calc(1400px - 900px - 24px);
            width: 100%;
        }
    }
}

#group-modal {
    max-width: 1200px;

    .modal-header {
        > h3 {
            margin: 0;
        }
    }

    .modal-content {
        padding: 16px;
    }
}

.fade-out-modal{
    opacity: 0 !important;
    position: none !important;
}